export DATABASE_PORT="5432"
export DATABASE_HOST="localhost"
export DATABASE_NAME="svoenix"
export DATABASE_USERNAME="postgres"
export DATABASE_PASSWORD="postgres"

export SECRET_KEY_BASE="4SmaamKkDqr7Po459Kev8s9daTpZv5n2bF3TBUwrmOBxM/w+slPIHW8GJ/lNfqNb" # run `mix phx.gen.secret` to generate one
