<main class="min-h-[100dvh] min-h-screen">
  <.flash_group flash={@flash} />

  <header class="flex items-center justify-between p-5">
    <.link class="text-lg font-bold hover:text-gray-700" navigate={~p"/"}>
      IRLcafé
    </.link>
  </header>
  <%= @inner_content %>
</main>
